*{
	padding: 0;
	margin-top: 0;
	box-sizing: border-box;
}
body{
	font-family: Georgia, 'Times New Roman', Times, serif;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	background-color: yellow;
}
.programas{
	color: rgb(0, 248, 182);
}
.programas-cards{
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
}
@media (max-width:850px){
	.programas-cards{
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
}
.footer{
	grid-area: footer;
	background-color: black;
	min-height: 50px;
	width: 100%;
	margin-top: 100px;
	padding: 0;
	color: white;
}
.footer-fin{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}
@media(max-width:850px){
	.footer-fin{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-fin ul{
		padding: 15px;
	}
}
.footer-fin ul li img{
	width: 30px;
}
.footer-fin ul li a{
	text-decoration: none;
	list-style-type: none;
}
.footer-fin ul{
	list-style-type: none;
}
.footer-fin ul li{
	display: inline-block;
	justify-content: space-between;
	padding-right: 10px;
}
.btn{
	background-color: #3c67e3;
	color: #fff;
	border-radius: 5px;
}
.terminos{
	justify-content: center;
	background-color: black;
}
.registrar_form h6{
	justify-content: center;
	align-items: center;
}
.cursos{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 100px 50px;
}
@media(max-width:850px){
	.cursos{
		flex-direction: column;
	}
}
.cursos-container{
	padding: 20px;
}
.cursos img{
	width: 400px;
	height: 300px;
	border-radius: 15px;
}
.curso-container p{
	color:#3c67e3 ;
	font-size: 20px;
	font-weight: 500;
	align-items: center;
}
.nutricion{
	display: flex;
	padding-top: 100px;
	justify-content: space-around;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:850px){
	.nutricion{
		flex-direction: column;
		width: 90%;
		justify-content: center;
		padding-top:50px;
	}
}
.nutricion img{
	width: 400px;
	height: 300px;
	border-radius: 10px;
}
.nutricion p{
	width: 40%;
	font-size: 25px;
	font-weight: 500;
}
.ubicacion{
	display: flex;
	justify-content: space-around;
	padding-top: 100px;
}
@media(max-width:850px){
	.ubicacion{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}
	
}
.ubicacion iframe{
	width: 300px;
	height: 300px;
}
.ubicacion ul{
	align-items: center;
	justify-content: center;
	width: 40%;
}
.ubicacion ul li{
	list-style-type: none;
	align-items: center;
	font-size: 30px;
	font-weight: 500;
}
.titulo{
	display: inline-block;
	color:#fff;
	text-decoration: none;
	padding: 20px 50px;
	border: 3px solid #3c67e3;
	border-radius: 10px;
}
.titulo:hover{
	animation: pulsate 1s
	ease-in-out;
}
@keyframes pulsate {
	0%{
		box-shadow:
		0 0 25px #5ddcff,
		0 0 50px #4e00c2;
	}
}